.advantages {
  padding: 4rem 0 0;
  &__list {
    padding: 2.5rem 0;
    list-style-type: none;
  }

  &__listItem + &__listItem {
    margin-top: 3rem;
  }
}

.advantage {
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.8rem 1.6rem;
    background-color: var(--green-light);
    border-radius: 50%;

    svg {
      fill: var(--green);
    }
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 2rem;

    & > * + * {
      margin-left: 3rem;
    }
  }
  &__description {
    position: relative;
    padding-left: 6rem;
    margin-top: 1rem;
    margin-left: 2.6rem;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.1rem;
      height: 85%;
      content: '';
      background-color: var(--gray-2);
      transform: translateY(-50%);
    }
  }
}
