.layout {
  min-height: 100vh;

  @media screen and (min-width: 50rem) {
    display: grid;
    grid-template-areas:
      '. header header .'
      '. sidebar main .'
      'footer footer footer footer';
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 32rem minmax(32rem, 120rem) auto;
    gap: 2rem 3rem;
  }

  &__header {
    grid-area: header;
  }
  &__sidebar {
    grid-area: sidebar;
  }
  &__main {
    grid-area: main;
  }
  &__footer {
    grid-area: footer;
  }
}
