.hhru {
  & > * + * {
    margin-top: 2.4rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    gap: 3rem;
  }

  &__card {
    background-color: var(--light);
    border-radius: 0.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.05);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.35;
    }

    p {
      font-weight: 700;
    }
  }
  &__vacancies {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    & p {
      padding: 1.2rem 0;
      font-size: 3.6rem;
      color: var(--primary);
    }
  }
  &__salaries {
    display: flex;
    grid-column: span 3;
    list-style-type: none;

    & p {
      font-size: 2.6rem;
      line-height: 1.35;
    }

    & > * {
      position: relative;

      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      padding: 2rem;

      & > * + * {
        margin-top: 0.8rem;
      }
    }

    & > * + * {
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 0.1rem;
        height: 70%;
        content: '';
        background-color: var(--gray-light);
        transform: translateY(-50%);
      }
    }
  }
}

.jobRating {
  position: relative;
  display: flex;

  &__items {
    color: var(--gray);
    svg {
      fill: currentColor;
    }
    & > * + * {
      margin-left: 1rem;
    }

    &_filled {
      position: absolute;
      color: var(--orange);
    }
  }
}
