.productHeader {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 7rem 1.5fr repeat(3, 0.4fr);
  row-gap: 0.5rem;
  column-gap: 3rem;
  padding-bottom: 1rem;

  &__logo {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    img {
      border-radius: 0.5rem;
    }
  }

  &__title {
    grid-column: 2 / 3;
    align-items: flex-end;
  }

  &__leader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    color: var(--gold);
    border: 0.1rem solid var(--gold);
    border-radius: 0.5rem;

    svg {
      fill: currentColor;
    }
  }
  &__tags {
    display: flex;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 1rem;
    align-items: flex-start;
    margin-top: 0.25rem;
  }
  &__price {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: flex-end;
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap;
  }
  &__credit {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
  }

  &__rating {
    align-self: flex-end;
  }

  &__label {
    grid-row: 2 / 3;
    align-self: flex-start;
    font-size: 1.4rem;
    font-weight: 300;
  }
}
