.footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-items: center;
  padding: 2.5rem 3rem;
  color: var(--light);
  background-color: var(--primary);

  @media screen and (min-width: 65rem) {
    grid-template-columns: 1fr auto auto;
    gap: 4rem;
    justify-items: normal;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: var(--gray-blue);
    }
  }
}
