.logo {
  display: flex;
  align-items: center;
  color: var(--primary);
  & > * + * {
    margin-left: 0.8rem;
  }

  &__icon {
    fill: currentColor;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * + * {
      margin-left: 0.4rem;
    }
  }
  &__text {
    font-size: 2.4rem;
    font-weight: 200;
    &_large {
      font-size: 3rem;
      font-weight: 700;
    }
  }
}
