.search {
  position: relative;

  &__input {
    border-radius: 0.5rem;
    border: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    display: block;
    font-size: 1.6rem;
    padding: 0.6em 1.15em;
  }
  &__button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}
