.product {
  padding: 3rem;
  background-color: var(--light);
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.05);

  & > * + * {
    padding-top: 2.2rem;
    border-top: 0.1rem solid var(--gray-light);
  }
}
