.controls {
  display: grid;
  grid-template-columns: repeat(2, minmax(15rem, 1fr));

  &__icon {
    transform: rotateX(0);
    transition: transform 0.2s, opacity 0.1s;
    opacity: 0;

    &_shown {
      opacity: 1;
    }
  }

  &_reverse {
    .controls__icon {
      transform: rotateX(180deg);
    }
  }
}
