.heading {
  display: flex;
  gap: 2rem;
  align-items: center;
  line-height: 1.35;

  &_h2 {
    font-size: 2.6rem;
    font-weight: 500;
  }
  &_h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  &_h4 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  &_h5 {
    font-size: 1.6rem;
    font-weight: 700;
  }
  &_h6 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7;
  }
}
