.categoryPage {
  padding: 4rem 0;

  & > * + * {
    margin-top: 3rem;
  }

  &__title {
    font-size: 5rem;
  }

  &__iconContainer {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--primary);
    border-radius: 50%;

    svg {
      max-width: 5rem;
      max-height: 5rem;
      fill: var(--light);
    }
  }

  &__cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 3rem;
    list-style-type: none;
  }

  &__card {
    padding: 3rem;
    background-color: var(--light);
    border-radius: 1rem;

    & > * + * {
      margin-top: 2rem;
    }
  }

  &__cardList {
    list-style-type: none;

    a {
      display: block;
      padding: 1rem 0;
      color: inherit;
      text-decoration: none;
      transition: color 0.1s;

      &:hover {
        color: var(--primary);
      }
    }
  }
}
