:root {
  --light: #ffffff;
  --text: #787d85;
  --text-dark: #3b434e;
  --text-light: #a4a4a4;
  --primary: #7653fc;
  --primary-dark: #5c3dd9;
  --orange: #fc836d;
  --red: #de0000;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --gold: #dcb44e;
  --gray-blue: #b3c0d9;
  --gray-2: #d2d2d2;
  --gray: #bbbbbb;
  --gray-light: #ebebeb;
  --transparent: rgba(0, 0, 0, 0);
  --transparent-light: rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
}

body {
  color: var(--text-dark);
  font-size: 1.6rem;
  font-family: 'Noto Sans', sans-serif;
  background-color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
}
