.mainPage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  gap: 7rem;
  align-items: flex-start;
  padding: 4rem 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  &__content {
    & > * + * {
      margin-top: 4rem;
    }
  }
  &__title {
    font-size: 5rem;
    white-space: nowrap;
  }

  &__list {
    list-style-type: none;

    & > * + * {
      margin-top: 2rem;
    }
  }

  &__item {
    background-color: var(--light);
    border-radius: 5rem;
    transition: color 0.1s;

    &:hover {
      color: var(--primary-dark);
    }
  }
  &__iconContainer {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--primary);
    border-radius: 50%;

    svg {
      max-width: 3rem;
      max-height: 3rem;
      fill: var(--light);
    }
  }
}
